!.gitignore


Final_project/BLE_SampleProject/*
!Final_project/BLE_SampleProject/Sources
!Final_project/BLE_SampleProject/Headers

Final_project/Discovery/*
!Final_project/Discovery/Sources
!Final_project/Discovery/Headers



