!.gitignore


Final_project/BLE_SampleProject/*
!Final_project/BLE_SampleProject/Src
!Final_project/BLE_SampleProject/Inc

Final_project/Discovery/*
!Final_project/Discovery/Sources
!Final_project/Discovery/Headers



